---
layout : default.html
title : GO2020 | Profile page
---




<section class="container-fluid border-bottom">
    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-6">

                        <div class="page-title">
                            <h2>
                                Profile
                            </h2>

                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="user-name">
                            Hello <span>Anna</span>
                        </div>
                    </div>

                    <div class="col-md-7 col-12">
                        <a href="#" class="btn btn-default float-right mt-2">
                            Edit Profile
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<p>&nbsp;</p>

<section class="container user-profile-page">


    <div class="row">
        <div class="col-md-4 col-sm-6">

            <div class="user-profile-info">

                <div class="profile-info-title">
                    <p>
                        Info
                    </p>

                    <a href="#">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        &nbsp;
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        &nbsp;
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </a>
                </div>

                <div class="user-image">
                    <figure>
                        <img src="{{assets}}images/user.png" alt="">
                    </figure>
                    <h4>
                        Anna Nawakowska
                    </h4>
                    <p class="user-country">
                        Norway

                    </p>
                </div>

                <p>
                    <span class="label">
                        email address
                    </span>
                    annanawakowska@gmail.com
                </p>

                <p>
                    <span class="label">
                        Domain Access
                    </span>
                    Go2020, Go Movement
                </p>

                <p>
                    <span class="label">
                        Gender
                    </span>
                    Female
                </p>

                <p>
                    <span class="label">
                        Age
                    </span>
                    26 Years old
                </p>

            </div>

        </div>
        <div class="col-md-8 col-sm-6">


            <div class="add-new-content">

                <div class="block-title">
                    Add new
                </div>

                <a href="#" class="btn btn-default">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Organization
                </a>
                <a href="#" class="btn btn-default">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Endorsment
                </a>

                <a href="#" class="btn btn-default">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Report
                </a>

                <a href="#" class="btn btn-default">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Testimonial
                </a>

                <a href="#" class="btn btn-default">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Resource
                </a>
                <a href="#" class="btn btn-default">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Prayer
                </a><a href="#" class="btn btn-default">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Training
                </a>
                <a href="#" class="btn btn-default">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Update
                </a>
                <a href="#" class="btn btn-default">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Event
                </a>
            </div>



            <div class="row">
                <div class="col-md-6">
                    <div class="card content-list">
                        <div class="card-header">
                            <a href="#">
                                Organization
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="card-body">

                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">
                                        Livenet
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Global Outreach Day
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card content-list">
                        <div class="card-header">
                            <a href="#">
                                Endosements
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="card-body">

                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">
                                        Livenet
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Global Outreach Day
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card content-list">
                        <div class="card-header">
                            <a href="#">
                                Reports
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="card-body">

                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">
                                        Livenet
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Global Outreach Day
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card content-list">
                        <div class="card-header">
                            <a href="#">
                                Testimonials
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="card-body">

                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">
                                        Livenet
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Global Outreach Day
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card content-list">
                        <div class="card-header">
                            <a href="#">
                                Prayers
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="card-body">

                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">
                                        Livenet
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Global Outreach Day
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card content-list">
                        <div class="card-header">
                            <a href="#">
                                Resources
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="card-body">

                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">
                                        Livenet
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Global Outreach Day
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card content-list">
                        <div class="card-header">
                            <a href="#">
                                Training
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="card-body">

                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">
                                        Livenet
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Global Outreach Day
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card content-list">
                        <div class="card-header">
                            <a href="#">
                                Events
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="card-body">

                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">
                                        Livenet
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Global Outreach Day
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</section>