.btn-default{
    font-size:16px;
    color:#505050;
    font-weight:500;
    border-radius:0px;
    border:none;
    padding: 10px 30px;
    box-shadow:0px 4px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow:0px 4px 10px rgba(0,0,0,0.1);

    &:hover{
        color:#000;
    }
    &:active{
        transform: scale(.98);
        -webkit-transform: scale(0.98);
         box-shadow:none;
    -webkit-box-shadow:none;
    }

    > svg{
            float: left;
    width: 18px;
    margin-right: 5px;
    }
}


.logo-small{
    display:block;
    width:180px;
    height:72px;
    position:absolute;
    left:20px;
    top:20px;
}
.btn-danger{
    background:$g-red;
    color:#fff;

    &:hover{
          background:$g-red;
          color:#f3f3f3 !important;
    }

    &:active{
          background:$g-red;
              color:#f3f3f3 !important;
    }
}
a.btn-link{
     background:none;
    box-shadow:none;
    -webkit-box-shadow:none;
    border:none;
    color:$g-red;

    &:hover{
        color:#000;
    }

     &:active{
         background:none;
    box-shadow:none;
    -webkit-box-shadow:none;
    border:none;
              color:#000 !important;
    }
}
a.btn-link.btn-danger{
    color:$g-red;
    background:none;
    box-shadow:none;
    -webkit-box-shadow:none;
    border:none;
    
    &:hover{
        color:#000 !important;
    }

   
}

.btn-back{
color:#fff;
position: absolute;
left:20px;
top:20px;
 background:$g-red;

 &:hover{
          color:#f3f3f3 !important;
    }


}

.btn-create-account{
    position:absolute;
    right:20px;
    top:32px;
    border:thin solid #eaeaea;    min-width: 180px;
}

section.authpage{

    div.small-logo-wrapper{
        position:relative;
        z-index:1000;
        width:540px;
        margin:0 auto;
    }

    .login_bg,
    .register_bg,
    .forgot_bg{
        min-height:100vh;
        width:100%;
        position:relative;
        background:url("../images/login_bg.jpg") center center no-repeat;
        background-size:cover;
    }
    .forgot_bg{
        background:url("../images/forgot_bg.jpg") center center no-repeat;
        background-size:cover;
    }
    .register_bg{
background:url("../images/register_bg.jpg") center center no-repeat;
        background-size:cover;
    }
}

form{


    position:relative;
    display:flex;
    align-items:center;
    justify-content: center;
    min-height:100vh;

    div.auth-form-wrapper{
        width:540px;
        margin:0 auto;
        position:relative;
    }
    div.form-title{
        margin-bottom:40px;
        h2{
            color:$g-red;
            font-size:32px;
      font-weight: 900;
            text-align:left;
        }
    }
    div.input-wrapper{
        position:relative;
        margin:0px 0px 40px 0px;

        label.input-label{
            color:#9a9a9a;
            font-size:14px;
            display:block;
        }
        input[type="text"],
        input[type="password"]{
            position:relative;
            height:46px;
            border:thin solid #9a9a9a;
            display:block;
            width:100%;
            color:#000;
            font-size:16px;
            font-weight:400;
            padding-left:24px;
            background:#fff;

            &:focus{color:#000;
                border:thin solid #f17376;
                outline:0;
                box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
                -webkit-box-shadow:0px 4px 10px rgba(0,0,0,0.1);
            }
        }

          input::placeholder {
    color: #9a9a9a;

  }
  input::-webkit-input-placeholder {
    color: #9a9a9a;
  }
  input:-ms-input-placeholder {
    color: #9a9a9a;
  }

  input::-ms-input-placeholder {
    color: #9a9a9a;
  }

 
    }

    div.input-error-message{
        background:#f17376;
        font-size:16px;
        color:#fff;
        text-align:left;
        padding:10px;
        border-radius:0px 0px 10px 10px;
    }
}