---
layout : default.html
title : GO2020 | Organization
---




<section class="container-fluid border-bottom">
    <a href="javascript:history.go(-1)" class="btn btn-default btn-back">
        <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">

            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="61022" fill="#FFFFFF" fill-rule="nonzero">
                    <polygon id="Shape"
                        points="22 9.625 5.225 9.625 12.925 1.925 11 0 0 11 11 22 12.925 20.075 5.225 12.375 22 12.375">
                    </polygon>
                </g>
            </g>
        </svg>
        Back
    </a>
    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">

                        <div class="page-title">
                            <h2 class="text-center">
                                Organization
                            </h2>

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>

<div class="container page-info">
    <div class="row justify-content-center">
        <div class="col-md-7">

            <div class="card infomation-card">




                <div class="organization-info-title">
                    <p>
                        Info
                    </p>

                    <a href="#">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        &nbsp;
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        &nbsp;
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </a>
                </div>


                <div class="card-body">

                    <div class="info-slide">
                        <img src="{{assets}}images/organization.jpg" alt="">
                    </div>



                    <div class="body-info">

                        <div class="google-map-canvas">

                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <span>
                                        email addresss <br>
                                    </span>
                                    Global Outreach day
                                </p>
                            </div>

                            <div class="col-md-6">
                                <p>
                                    <span>
                                        Website <br>
                                    </span>
                                    <a href="#">
                                        http://www.go2020.world/link
                                    </a>
                                </p>
                            </div>

                            <div class="col-md-6">
                                <p>
                                    <span>
                                        address <br>
                                    </span>
                                    Global Outreach day
                                </p>
                            </div>

                            <div class="col-md-6">
                                <p>
                                    <span>
                                        Country <br>
                                    </span>
                                    Norway
                                </p>
                            </div>

                            <div class="col-md-6">
                                <p>
                                    <span>
                                        Zip <br>
                                    </span>
                                    000
                                </p>
                            </div>

                            <div class="col-md-6">
                                <p>
                                    <span>
                                        Postal code <br>
                                    </span>
                                    23231
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <span>
                                        Telephone <br>
                                    </span>
                                    23231
                                </p>
                            </div>

                            <div class="col-md-6">
                                <p>
                                    <span>
                                        Contact <br>
                                    </span>
                                    23231
                                </p>
                            </div>
                        </div>


                    </div>

                </div>

            </div>


            <div class="card content-list">
                <div class="card-header">
                    <a href="#">
                        Commitment goals
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="card-body">

                    <ul class="list-unstyled">
                        <li>
                            <a href="#">
                                Livenet
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Global Outreach Day
                            </a>
                        </li>
                    </ul>

                </div>
            </div>


        </div>
    </div>
</div>